# DS_Store
.DS_Store

# History files
.Rhistory
.Rapp.history

# RStudio files
.Rbuildignore
.Rproj.user/

# R Environment Variables
.Renviron

# R Data files
*.RData
*ecto_*_sun_*.Rda
*ecto_*_shade_*.Rda
*ecto_*_shade.Rda
*ecto_*_50cm_*.Rda

# Fortran object files
*.o
*.so
