# DS_Store
.DS_Store

# History files
.Rhistory
.Rapp.history

# RStudio files
.Rbuildignore
.Rproj.user/

# R Environment Variables
.Renviron

# R Data files
*.RData

# Fortran object files
*.o
*.so
._ThermHydroBehav.Rproj
code/._1_microclimate_modelling.R
code/._2_ectotherm_model.R
code/._4_figures.R
code/._aux_functions.R
nmr_src/._NicheMapR.Rproj
results/._micro_Jihlava.Rda
._Appendix2_microclimate_validation.html
._Appendix3_example_ectotherm_models.html
figures/._delta_smr.pdf
figures/._depths.pdf
figures/._smr_current.pdf
._*
